<!DOCTYPE html>
<html>
<head>
  <title>Simple Kanban</title>
</head>
<body>
	<div class='container'>
		<%= render 'layouts/header' %>
		<section>
			<%= yield %>
		</section>
		<%= render 'layouts/footer' %>
	</div>
</body>
</html>
